# VBA extensions - Prevent LF normalization (bas, cls, frm, vba, doccls)
*.[bB][aA][sS]              -text diff
*.[cC][lL][sS]              -text diff
*.[fF][rR][mM]              -text diff
*.[vV][bB][aA]              -text diff
*.[dD][oO][cC][cC][lL][sS]  -text diff
